@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Dancing+Script:wght@400;500;600;700&family=Martian+Mono:wght@300;400&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Nunito:wght@400;500;600&family=Open+Sans:wght@300;400;500;600&family=Oswald:wght@300;400;500&family=Rubik+Puddles&display=swap');

*, body{
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6rem;
    background-color: rgb(246, 246, 201);
    /* background-image: url(./asset/bg1\ \(3\).jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    width: 300px;
    height: 300px;
}
.logo_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

button{
    position: relative;
    width: 80px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    background-color: blue;
    margin: 10px;
    color: white;
    border-radius: 15px ;
    border: 2px solid blue;
    font-family: 'Open Sans', sans-serif;
    transition: 1.0s all ease-in-out;
    overflow: hidden;
}
button:hover{
    width: 260px;
    
}
button:focus::after{
    width: 260px;
    background-color: rgb(0, 0, 255, 0.5);
}


.parent_container{
    margin: 10px 10px;
    /* border: 2px solid #A020F0; */
    padding: 20px 20px;
    text-align: center;
}
header{
    text-align: left;
    margin: 0px;
}
ul{
    display: flex;
    justify-content:flex-start ;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    border-left: 2px solid white;
    padding: 10px;
}
a:hover{
    background-color: blue;
}
a:focus{
    background-color: blue;
    color: white;
    font-weight: 600;
}
li{
    list-style: none;
}
.form_container{
    background-color:#A020F0;
    border: 1px solid blue;
    padding: 0px 10px;
    margin: 10px auto;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
h2{
    font-weight: 400;
    width: 90%;
    border-bottom: 1px solid grey;
}
form{
    border: 1px solid blue;
    background-color: rgb(246, 246, 201);
    margin: auto;
    border-radius: 25px;
    padding: 30px 50px;
    text-align: left;
    
}

label{
    margin-right: 10px;
    font-size: 16px;
}
input,select{
    height: 30px;
    padding: 0px 5px;
    border-left: 5px solid #A020F0;
    font-size: 18px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 50px;
}
input{
    width: 290px;
    border-radius: 15px;
    margin-right: 100px;
}
.address{
    width: 700px;
}
.school{
    width: 450px;
}
.department{
    width: 470px;
}
select{
    width: 150px;
    margin-right: 150px;
    
}
