@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Dancing+Script:wght@400;500;600;700&family=Martian+Mono:wght@300;400&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Nunito:wght@400;500;600&family=Open+Sans:wght@300;400;500;600&family=Oswald:wght@300;400;500&family=Rubik+Puddles&display=swap');

*, body{
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6rem;
    background-color: #f6f6c9;
    background-image: url(./asset/bg1\ \(3\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    width: 300px;
    height: 300px;
}
.logo_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.heading_1{
    color: white;
    text-align: center;
}
.page_container{
    width: 90%;
    margin: auto;
    background-color: #f6f6c9;
    padding: 30px 50px;
    border-radius: 25px;
}
header{
    display: flex;
}
.nav_button{
    height: 50px;
   padding: 10px 10px;
   font-size: 18px;
    background-color: #A020F0;
    border: none;
    border-left:0.5px solid black;
}
.nav_button:hover{
    background-color: #26023d;
    cursor: pointer;
    color: white;
}
/* .form_panel{
    display: none;
} */
h1{
    margin-top: 30px;
    font-size: 30px;
}
label{
    font-size: 16px;
    font-weight: 400px;
}