@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Dancing+Script:wght@400;500;600;700&family=Martian+Mono:wght@300;400&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Nunito:wght@400;500;600&family=Open+Sans:wght@300;400;500;600&family=Oswald:wght@300;400;500&family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Dancing+Script:wght@400;500;600;700&family=Martian+Mono:wght@300;400&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Open+Sans:wght@300;400;500;600&family=Oswald:wght@300;400;500&family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Dancing+Script:wght@400;500;600;700&family=Martian+Mono:wght@300;400&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Open+Sans:wght@300;400;500;600&family=Oswald:wght@300;400;500&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&family=Rubik+Puddles&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}


/* DASHBOARD */
.mother_container_dashboard {
    display: flex;
   


}
.logo_container{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: black;
}
.logo{
    width: 90px;
    height: 90px;
}
.logo_box{
    display: flex;
    padding: 10px 7px;
    gap: 30px;
}

.emblem{
    font-size: 50px;
    padding: 10px 0px;
    font-family: 'Raleway', sans-serif;
}
.sidebar {
    background-color: white;
   position: fixed;
    width: 110px;
    transition: width 0.5s linear;
    overflow: hidden;
    border: 2px solid rgb(204, 201, 201) ;
    border-radius: 0px 25px 25px 0px;
}
.sidebar:hover{
    width: 450px;
    background-color: #A020F0;
    font-family: 'Montserrat', sans-serif;
}


.main {
    background-color: aqua;
    padding: 50px 30px;
    margin-left:110px;
    width: 100%;

}
.navbar{
    border-bottom: 2px solid black;
}

button{
    width: 100px;
    height: 50px;
    margin: 0px;
    background-color: none;
    border-top: 0px;
    border-bottom: 0px;
    font-size: 16px;
    
}

ul {
    display: inline;
}

.sidebar_button {
    text-decoration: none;
    color: black;
    width: 500px;
    height: 80px;
    background-color: rgb(255, 255, 255, 0);
    /* border: 2px solid rgba(72, 2, 115, 0.25); */
    display: inline-block;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: 500;
}

.sidebar_button:hover {
    background-color: rgba(1, 1, 1, 0.7);
    font-size: 24px;
    color: white;
}
.sidebar_button:focus{
    background-color: rgb(22, 22, 210);
    font-size: 24px;
    color: white;
}

li {
    width: 100%;
    height: 70px;
    
}
.fa{
    font-size: 32px;
    margin-right: 40px;
    margin-top: 5px;
}

h2{
    font-size: 50px;
    font-family: 'Nunito', sans-serif;

}
h3{
    font-size: 32px;
}

.student_info{
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
}